<div class="lists row">
  <div class="col-md-12 col-lg-4 col-xxxl-6">
    <nb-card class="list-card">
      <nb-card-header>Inverter Details</nb-card-header>
      <nb-card-body>
        <table class="table table-striped">
          <tr>
            <td class="font-weight-bold">Serial No</td>
            <td *ngIf="deviceInstance">
              {{ deviceInstance.serialNo }}
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">Manufacturer</td>
            <td *ngIf="deviceInstance">
              {{ deviceInstance.manufacturer }}
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">Logger</td>
            <td *ngIf="deviceInstance">
              {{ deviceInstance.parentDevice }}
            </td>
          </tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-8 col-xxxl-6">
    <nb-card class="list-card">
      <nb-card-header>Device Data</nb-card-header>
      <nb-card-body>
        <div class="today-details">
          <div class="parameter">
            <span class="caption parameter-name">Current power</span>
            <span class="parameter-value" *ngIf="deviceSummary">{{
              deviceSummary.current_power
            }}</span>
          </div>
          <div class="parameter">
            <span class="caption parameter-name">Today</span>
            <span class="parameter-value" *ngIf="deviceSummary">{{
              deviceSummary.today
            }}</span>
          </div>
          <div class="parameter">
            <span class="caption parameter-name">This month</span>
            <span class="parameter-value" *ngIf="deviceSummary">
              {{ deviceSummary.this_month }}
            </span>
          </div>
          <div class="parameter">
            <span class="caption parameter-name">This year</span>
            <span class="parameter-value" *ngIf="deviceSummary">
              {{ deviceSummary.this_year }}
            </span>
          </div>
        </div>

        <div class="today-details">
          <div class="parameter">
            <span class="caption parameter-name">So far</span>
            <span class="parameter-value" *ngIf="deviceSummary">{{
              deviceSummary.so_far
            }}</span>
          </div>
          <div class="parameter">
            <span class="caption parameter-name">Status</span>
            <span class="parameter-value" *ngIf="deviceSummary">
              {{ deviceSummary.device_stastus }}
            </span>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="lists row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card class="list-card">
      <nb-card-header>Temperature</nb-card-header>
      <nb-card-body>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td class="font-weight-bold">Boost circuit</td>
              <td *ngIf="deviceSummary">
                {{ deviceSummary.current_bct }}
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Invert circuit</td>
              <td *ngIf="deviceSummary">
                {{ deviceSummary.current_ict }}
              </td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="lists row">
  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card class="list-card">
      <nb-card-header>Input</nb-card-header>
      <nb-card-body>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Solar panel</th>
              <th>Volts</th>
              <th>Current</th>
              <th>Power</th>
            </tr>
          </thead>
          <tbody *ngIf="inputsoutputs">
            <tr *ngIf="inputsoutputs.inputDevice">
              <td>{{ inputsoutputs.inputDevice.serialNo }}</td>
              <td>{{ inputsoutputs.inputDevice.leftData.spv }}</td>
              <td>{{ inputsoutputs.inputDevice.leftData.spc }}</td>
              <td>{{ inputsoutputs.inputDevice.leftData.pow }}</td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card class="list-card">
      <nb-card-header>Output</nb-card-header>
      <nb-card-body>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Phase</th>
              <th>Volts</th>
              <th>Current</th>
            </tr>
          </thead>
          <tbody *ngIf="inputsoutputs">
            <tr
              *ngIf="inputsoutputs.outputDevice && inputsoutputs.outputDevice"
            >
              <td>U</td>
              <td>{{ inputsoutputs.outputDevice.rightData.upv }}</td>
              <td>{{ inputsoutputs.outputDevice.rightData.upi }}</td>
            </tr>
            <tr
              *ngIf="inputsoutputs.outputDevice && inputsoutputs.outputDevice"
            >
              <td>V</td>
              <td>{{ inputsoutputs.outputDevice.rightData.vpv }}</td>
              <td>{{ inputsoutputs.outputDevice.rightData.vpi }}</td>
            </tr>
            <tr
              *ngIf="inputsoutputs.outputDevice && inputsoutputs.outputDevice"
            >
              <td>W</td>
              <td>{{ inputsoutputs.outputDevice.rightData.wpv }}</td>
              <td>{{ inputsoutputs.outputDevice.rightData.wpi }}</td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
