@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .today-details {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .parameter {
    flex: 1 1 auto;
    text-align: center;
  }

  .parameter-name,
  .parameter-value {
    display: block;
  }

  .caption {
    text-transform: uppercase;
  }

  .list-card {
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
    }
  }
}
