<nb-card>
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Day">
      <div class="mb-2"><input type="date" nbInput /></div>
      <div class="summary-container">
        <div>
          <div>Daily Production</div>
          <div class="h6">100.77kWh</div>
        </div>
      </div>
      <div class="chart-container">
        <chart type="bar" [data]="data" [options]="options"></chart>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Month">
      <div class="mb-2"><input type="month" nbInput /></div>
      <div class="summary-container">
        <div>
          <div>Monthly Production</div>
          <div class="h6">100.77kWh</div>
        </div>
      </div>
      <div class="chart-container">
        <chart type="bar" [data]="data" [options]="options"></chart>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Year">
      <div class="mb-2">
        <nb-select selected="2019">
          <nb-option value="2020">2020</nb-option>
          <nb-option value="2019">2019</nb-option>
        </nb-select>
      </div>
      <div class="summary-container">
        <div>
          <div>Yearly Production</div>
          <div class="h6">100.77kWh</div>
        </div>
      </div>
      <div class="chart-container">
        <chart type="bar" [data]="data" [options]="options"></chart>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Total">
      <div class="summary-container">
        <div>
          <div>Total Production</div>
          <div class="h6">100.77kWh</div>
        </div>
      </div>
      <div class="chart-container">
        <chart type="bar" [data]="data" [options]="options"></chart>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
