<h1 id="title" class="title">Login</h1>
<p class="sub-title">Hello! Log in with your email.</p>

<nb-alert *ngIf="errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="login()" [formGroup]="loginForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput
      fullWidth
      formControlName="email"
      name="email"
      id="input-email"
      placeholder="Email address"
      fieldSize="large"
      class="input-full-width size-large status-basic shape-rectangle"
      autofocus>
    <ng-container *ngIf="submitted && f.email.errors">
      <p class="caption status-danger" *ngIf="f.email.errors.required">
        Email is required!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input nbInput fullWidth
      name="password"
      formControlName="password"
      type="password"
      id="input-password"
      placeholder="Password"
      class="input-full-width size-large status-basic shape-rectangle"
      fieldSize="large">
    <ng-container *ngIf="submitted && f.password.errors">
      <p class="caption status-danger" *ngIf="f.password.errors.required">
        Password is required!
      </p>
    </ng-container>
  </div>
  <button nbButton
    fullWidth
    status="success"
    [class.btn-pulse]="submitted"
    [disabled]="loading">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Log In
  </button>
</form>