<nb-card>
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Details">
      <nb-card-body>
        <span class="h3 location">Generation</span>
        <span class="date">Current power: 3.76kw</span>

        <div class="today">
          <!-- <span class="today-temperature h1">Current power: 3.76kw</span> -->
          <nb-icon icon="sun-outline" pack="eva" class="today-icon"></nb-icon>
        </div>

        <div class="today-details">
          <div class="parameter">
            <span class="caption parameter-name">Today</span>
            <span class="parameter-value">48.12kWh</span>
          </div>
          <div class="parameter">
            <span class="caption parameter-name">This month</span>
            <span class="parameter-value">48.12kWh</span>
          </div>
          <div class="parameter">
            <span class="caption parameter-name">This year</span>
            <span class="parameter-value">48.12kWh</span>
          </div>
          <div class="parameter">
            <span class="caption parameter-name">So far</span>
            <span class="parameter-value">48.12kWh</span>
          </div>
        </div>

        <span class="h3 location">Revenue</span>

        <div class="today">
          <nb-icon
            icon="credit-card-outline"
            pack="eva"
            class="today-icon"
          ></nb-icon>
        </div>

        <div class="weekly-forecast">
          <div class="day">
            <span class="caption">Today</span>
            <i class="weather-icon">&#x20B9;</i>
            <span class="temperature">123.45</span>
          </div>
          <div class="day">
            <span class="caption">This month</span>
            <i class="weather-icon">&#x20B9;</i>
            <span class="temperature">123.45</span>
          </div>
          <div class="day">
            <span class="caption">This year</span>
            <i class="weather-icon">&#x20B9;</i>
            <span class="temperature">123.45</span>
          </div>
          <div class="day">
            <span class="caption">So far</span>
            <i class="weather-icon">&#x20B9;</i>
            <span class="temperature">123.45</span>
          </div>
        </div>
      </nb-card-body>
    </nb-tab>

    <nb-tab tabTitle="Plant Info">
      <nb-card-body>
        <div *ngFor="let result of plantInfoSections">
          <h5 class="grid-h">{{ result.sectionName }}</h5>
          <div class="row show-grid">
            <div
              class="col-md-4"
              *ngFor="let field of result.sectionDetails | keyvalue: unsorted"
            >
              <div>{{ field.value.title }} : {{ field.value.value }}</div>
            </div>
          </div>
        </div>

        <div>
          <h5 class="grid-h">Plant Contact Details</h5>
          <div class="row show-grid">
            <div class="col-md-6" *ngIf="stakeholder">
              <div>Phone : {{ stakeholder.phone }}</div>
            </div>
            <div class="col-md-6" *ngIf="stakeholder">
              <div>Email : {{ stakeholder.email }}</div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-tab>

    <nb-tab tabTitle="Devices">
      <nb-card-body>
        <nb-tabset>
          <nb-tab
            tabTitle="{{ deviceType.devicetype['deviceTypeName'] }}"
            *ngFor="let deviceType of deviceTypes; let i = index"
            active="{{ i == 0 ? true : false }}"
          >
            <nb-card-body>
              <!-- <ng2-smart-table
                [settings]="inverterSettings"
                [source]="devices[deviceType.systemDeviceTypeId]"
                (custom)="onCustom($event)"
              >
              </ng2-smart-table> -->

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>SN</th>
                    <th>Logger</th>
                    <th>Last Update</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let device of devices[deviceType.systemDeviceId]">
                    <td>
                      <a
                        [routerLink]=""
                        (click)="
                          devicePage(
                            device.systemDeviceInstanceId,
                            deviceType.devicetype.deviceTypeName
                          )
                        "
                        >{{ device.serialNo }}</a
                      >
                    </td>
                    <td>Hermes</td>
                    <td>12/15/2020</td>
                  </tr>
                </tbody>
              </table>
            </nb-card-body>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-tab>

    <nb-tab tabTitle="Alert">
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="serverSource">
        </ng2-smart-table>
      </nb-card-body>
    </nb-tab>
  </nb-tabset>
</nb-card>
