@import '../../../@theme/styles/themes';

@include nb-install-component() {
  a:not([href]):not([tabindex]) {
    color: #3366ff;
    cursor: pointer;
  }
  nb-card-body {
    display: flex;
    flex-direction: column;
  }

  .location,
  .date {
    display: block;
  }

  .location {
    margin-bottom: 0.1rem;
  }

  .today {
    display: flex;
    justify-content: space-around;
  }

  .today-temperature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 1.5rem;
  }

  .today-icon {
    color: nb-theme(color-primary-default);
    font-size: 6rem;
    line-height: 1;
    margin-top: -4rem;
    margin-left: auto;
    margin-right: 0.4rem;
  }

  .today-details {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .parameter {
    flex: 1 1 auto;
    text-align: center;
  }

  .parameter-name,
  .parameter-value {
    display: block;
  }

  .caption {
    text-transform: uppercase;
  }

  .weekly-forecast {
    display: flex;
    justify-content: space-around;
    margin: auto 0;
  }

  .day {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .weather-icon {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^='col-'] {
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        text-align: center;
        background-color: nb-theme(background-basic-color-2);
        padding: 0.75rem 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }

  .grid-h {
    margin-top: 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

:host /deep/ ng2-smart-table .ng2-smart-actions {
  height: auto;
}

:host /deep/ ng2-smart-table .ng2-smart-actions a.ng2-smart-action {
  font-size: 1rem !important;
  color: #3366ff !important;
}
