<div class="lists row">
  <div class="col-md-12 col-lg-4 col-xxxl-6">
    <nb-card class="list-card">
      <nb-card-header>Logger Details</nb-card-header>
      <nb-card-body>
        <table class="table table-striped">
          <tr>
            <td class="font-weight-bold">Device name</td>
            <td *ngIf="deviceInstance">
              {{ deviceInstance.givenDeviceInstanceId }}
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">Brand</td>
            <td *ngIf="deviceInstance">
              {{ deviceInstance.manufacturer }}
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">Communication mode</td>
            <td *ngIf="communicationMode">
              {{ communicationMode }}
            </td>
          </tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-8 col-xxxl-6">
    <nb-card class="list-card">
      <nb-card-header>Connected devices</nb-card-header>
      <nb-card-body>
        <table class="table table-striped">
          <tr>
            <td class="font-weight-bold">Inverter</td>
            <td *ngIf="connectedDevice">
              {{ connectedDevice.connectedDevice }}
            </td>
            <td *ngIf="connectedDevice">
              {{ connectedDevice.deviceTypeName }}
            </td>
          </tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
